.container {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
    align-items: start;
}

@media (max-width: 420px) {
    .container, .row {
        min-width: 390px;
    }
}

@media (min-width: 768px) {
    .container, .row {
        min-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .row {
        min-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .row {
        min-width: 1140px;
    }
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}