@media (max-width: 520px) {
    .input-form > input[type="text"] {
        min-width: 250px;
    }
}

@media (min-width: 520px) {
    .input-form > input[type="text"] {
        min-width: 400px;
        width: 75% !important;
    }
}

.input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.input-form .errorlist {
    color: red;
    position: absolute;
    bottom: -50px;
}