{% extends "base.html" %}

{% block extends_stylesheets %}
    {% load static %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <form action="/" method="post" class="input-form">
        {% csrf_token %}
        {{ form }}
        <input class="button-primary" type="submit" value="GO">
    </form>

    {% if job %}
        <p class="text-center">Job with id: {{ job.id }} created in status {{ job.status }}. <a href="/job/{{ job.id }}">Check the result here</a></p>
    {% endif %}
{% endblock %}